body{
    font-family: 'Arial';
    background-color: rgb(213, 211, 211);
}

header{
    background-color: brown;
   margin: auto;
   border-radius: 10px;
   


}
h1{
    text-align: center;
    font-size: 2em;
    color: white;
    margin-bottom: 10px;
}
h2{
    text-align: right;
    color: white;
    font-size: 20px;
    margin-right: 10px;
}
 nav{
    background-color: black;
 }

li{
    display: inline;
    float: left;
    list-style: none;
    margin-left: 40px;

}
li>a{
    text-decoration: none;
    padding: 3px;
    color: black;
}
img{
    width: 600px;
    height: auto;
    position: sticky;
    left: 6%;
}
main{
    background-color: rgba(143, 143, 143, 0.309);
    text-align:center ;
    margin-top: 60px;
}